@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200&family=Zeyada&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-touch-callout: none;
  -webkit-text-size-adjust: none;
  -ms-text-size-adjust: none;
  text-size-adjust: none;
  color: whitesmoke;
  font-weight: bolder;
  text-decoration: none;
}

html,
body {
  height: 100%;
}
body {
  overflow: hidden;
  width: 100%;
  height: 100%;
  background-color: #f3ffe3;
}

.container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  /*flex-direction: column;
  justify-content: center;
  align-items: center;*/
}

nav {
  display: flex;
  width: 100%;
  justify-content: space-around;
  height: 80px;
  z-index: 111;
  background-color: #6eb5ff;
  line-height: 80px;
}

.logo {
  display: flex;
  font-size: medium;
  font-weight: 800;
  color: #382f4d;
  letter-spacing: 3px;
  cursor: pointer;
  text-transform: uppercase;
}
